<!DOCTYPE html>
<html lang="en-US">
<head>

	
		
	<meta charset="UTF-8" />
	<meta name="description" content=""/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Homecool : Homeschooling made cool </title>
	
	<meta name="msapplication-TileColor" content="#FFFFFF"/>
	
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
	<link rel="stylesheet" href="css/picto-foundry-emotions.css" />
	<link rel="stylesheet" href="css/picto-foundry-household.css" />
	<link rel="stylesheet" href="css/picto-foundry-shopping-finance.css" />
	<link rel="stylesheet" href="css/picto-foundry-general.css" />
	
	<link href="css/font-awesome.min.css" rel="stylesheet"/>
</head>
	<body>
		<div class="pushWrapper">
		    
			<header class="pageHeader">
				
				<button class="menu-trigger">
					<span class="lines"></span>
				</button>

				
			    <a class="headerLogo smoothScroll" href="home.htm">
			    	<i class="fa-regular fa-house-chimney-user"></i>
					<span class="text">Homecool</span>
				</a>		  
			</header>
		    
		  
			<div class="sidebar">

				<nav class="mainMenu">
					<ul class="menu">
					<li>
							<a class="smoothScroll" href="account.htm" title="Account"><i class="fa fa-user size-24"></i><span class="text">Account</span></a>
						</li>
						<li>
							<a class="smoothScroll" href="home.htm/#timeline-part" title="Admission Roadmap"><i class="step icon-question size-24"></i><span class="text">Admission</span></a>
						</li>
<li>
							<a class="smoothScroll" href="home.htm/#membership-part" title="Resources"><i class="step icon-door-key size-24"></i><span class="text">Resources</span></a>
						</li>
						<li>
							<a class="smoothScroll" href="home.htm/#stastistical-part" title="Learning Statistics"><i class="icon-reciept-1 size-24"></i><span class="text">Stats</span></a>
						</li>
						<li>
							<a class="smoothScroll" href="home.htm/#testimonials-part" title="Testimonial"><i class="step icon-thumbs-up size-24"></i><span class="text">Testimonial</span></a>
						</li>
<li>
							<a class="smoothScroll" href="home.htm/#contact-form" title="Ask your teacher"><i class="step icon-envelope-1 size-34"></i><span class="text">Doubts</span></a>
						</li>
						<li>
							<a class="smoothScroll" href="home.htm/#featured-part" title="Top Featured"><i class="step icon-bulleted-list size-24"></i><span class="text">Announcements</span></a>
						</li>
<li>
							<a class="smoothScroll" href="home.htm/#tips-part" title="Important Tips"><i class="step icon-light-bulb size-24"></i><span class="text">About</span></a>
						</li>
						
						<li>
							<a class="smoothScroll" href="home.htm/#pricing-part" title="Pricing"><i class="fa fa-angle-right size-24"></i><span class="text">More</span></a>
						</li>
						
						
						
					</ul>
				</nav>

				<nav class="backToTop">
					<ul class="backToTop-menu">
						<li><a class="smoothScroll" href="#section-intro" title="to the top"><i class="fa fa-chevron-up"></i><span class="text">Back to top</span></a></li>
					</ul>
				</nav>
				
			</div>

		
			<nav class="shareMenu">
				<a href="#" class="share-menu-trigger"><i class="fa fa-share-alt"></i></a>

				<div class="tweet-share">
					
					

				</div>
			</nav>

		    
		    <main>



		<section class="section-intro" id="section-intro" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">

			<a class="LC-logo" href="#/">
				<i class="fa fa-house-chimney-user"></i>
				
			</a>

			<div class="content">
				<div class="container-template">
				    <h1>
				    	<i class="fa fa-house-chimney-user"></i>
							<span>Homecool</span>
				        <span class="seconday">homeschooling made cool</span>
				        
				    </h1>
			    </div>
		    </div>

		</section>


<center>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

      <lottie-player src="https://lottie.host/95d592d9-728c-411f-8c4e-f06a7bd8e524/fdboKELgXW.json" background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay></lottie-player></center>
<center>
 <table width="800" border="0" align="center" cellpadding="5">
   <tr>
    <td colspan="2"><h3>Basic Info</h3><hr/></td>
   </tr>
   <tr>
    <td width="50%" align="right"><h5>Name:&emsp;&emsp;&emsp;</h5></td>
    <td><h5></h5> </td>
   </tr>
   <tr>
    <td align="right"><h5>E-mail:&emsp;&emsp;&emsp;</h5></td>
    <td><h5></h5> </td>
   </tr>
   <tr>
    <td align="right"><h5>Contact:&emsp;&emsp;&emsp;</h5></td>
    <td><h5></h5></td>
   <td></td><td></td>
    
   
   </tr>
<tr>
    <td colspan="2"><br/><br/><br/><br/><button type="button" class="form-btn semibold">Log Out</button></a></center></td>
   </tr>
  </table>

</center>
			
		
			
			
			
			<footer class="pageFooter">
				<div class="btnContainer">
					<a class="gc-link" href="#" target="_blank"><i class="icon-handcrafted"></i></a>
				</div>

				<div class="btnContainer">
				    <a class="LC-logo" href="#/">
						<i class="icon-LClogo"></i>
					</a>
				</div>
			</footer>

			</main>

		</div>
		<script type='text/javascript' src='js/jquery.js'></script>
		<script type='text/javascript' src='js/jquery-migrate.js'></script>
		<script type='text/javascript' src='js/jquery.form.js'></script>
		<script type='text/javascript' src='js/jquery.mobile.custom.js'></script>
		<script type='text/javascript' src='js/modernizr.js'></script>
		<script type='text/javascript' src='js/response.js'></script>
		<script type='text/javascript' src='js/swiper.js'></script>
		<script type='text/javascript' src='js/waypoints.js'></script>
		<script type='text/javascript' src='js/jquery.stellar.js'></script>
		<script type='text/javascript' src='js/module.js'></script>
		<script type='text/javascript' src='js/bootstrap.min.js'></script>
		<script src="js/wow.min.js"></script>
		<script>
		new WOW().init();
		</script>
		
	</body>	
</html>
